


<div>
	<div class="row">
		<h5>{{gameTitle}}</h5>
		<h6><em>{{genre1}}</em>  <em>{{genre2}}</em></h6>
	</div>
	<!--Tab Menu-->
	<div class="tab row">
		<a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Summary')">Summary</a>
		<a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Details')">Details</a>
		<a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Tokyo')">Something</a>
	</div>
	<div class="row">
		<!--Game Image-->
		<div class="column small-12 large-3">
			<img src="{{image}}" alt="Cover of {{gameTitle}}">
		</div>
		<!--Tab 1-->
		<div id="Summary" class="tabcontent column small-12 large-9" style="display:block">
			<div>
				<ul>
					<li><strong>Game category: </strong> {{gameCategory}}</li>
					<li><strong>Release date: </strong>{{releaseDate}}</li>
					<li><strong>System(s): </strong> {{{consoles}}} </li>
					<li><strong>Developer(s): </strong>{{{developers}}} </li>
					<li><strong>Publisher(s): </strong>{{{publishers}}}</li>
				</ul>
				<p>{{summary}}</p>
			</div>
		</div>
		<!--Tab 2-->
		<div id="Details" class="tabcontent column small-12 large-9">
		  <h3>Details</h3>
		  <p>Paris is the capital of Fra.</p> 
		</div>
		<!--Tab 3-->
		<div id="Tokyo" class="tabcontent column small-12 large-9">
		  <h3>Tokyo</h3>
		  <p>Tokyo is the capital of Japan.</p>
		</div>


	</div>		
</div>