<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
        

            <div class="row">
            <!--TOP ROW-->
                <div class="gameBlock column large-3 small-3">
                    <div class="inner">
                        <a href="/gameView?id={{game1Id}}">
                            <img src="{{game1Thumb}}" alt="Cover of {{game1Title}}">
                            <!--<h6>{{game1Title}}</h6>-->
                        </a>
                    </div>
                </div>

                <div class="gameBlock column large-3 small-3">
                    <div class="inner">
                        <a href="/gameView?id={{game2Id}}">
                            <img src="{{game2Thumb}}" alt="Cover of {{game1Title}}">
                            <!--<h6>{{game1Title}}</h6>-->
                        </a>
                    </div>
                </div>

                <div class="gameBlock column large-3 small-3">
                    <div class="inner">
                        <a href="/gameView?id={{game3Id}}">
                            <img src="{{game3Thumb}}" alt="Cover of {{game1Title}}">
                            <!--<h6>{{game1Title}}</h6>-->
                        </a>
                    </div>
                </div>

                <div class="gameBlock column large-3 small-3">
                    <div class="inner">
                        <a href="/gameView?id={{game4Id}}">
                            <img src="{{game4Thumb}}" alt="Cover of {{game1Title}}">
                            <!--<h6>{{game1Title}}</h6>-->
                        </a>
                    </div>
                </div>
            </div>







    </li>
    <li class="orbit-slide">
        
    </li>
    <li class="orbit-slide">
        <h1>HELLO3</h1>
    </li>
    <li class="orbit-slide">
        <h1>HELLO4</h1>
    </li>
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>


<style>

</style>

<script>

</script>