<!DOCTYPE html>

<html>
	{{> head}}
	<body>
		<div class="container">
			{{> nav}}
			<h1>{{gameTitle}}</h1>
			<h4><em>{{genre1}}</em>  <em>{{genre2}}</em></h4>
			<img src="{{image}}" alt="Cover of {{gameTitle}}">
			<p>{{summary}}</p>
		</div>
	</body>
</html>