<!DOCTYPE html>

<html>
	{{> head}}
	
	<body>
		{{> nav}}
		<div class="row main-view home-main-view">
			<div class="row">
			<!--TOP ROW-->
				<div class="gameBlock column large-2 small-2">
					<div class="inner">
						<a href="/gameView?id={{game1Id}}">
							<img src="{{game1Thumb}}" alt="Cover of {{game1Title}}">
							<!--<h6>{{game1Title}}</h6>-->
						</a>
					</div>
				</div>

				<div class="gameBlock column large-2 small-2">
					<div class="inner">
						<a href="/gameView?id={{game2Id}}">
							<img src="{{game2Thumb}}" alt="Cover of {{game1Title}}">
							<!--<h6>{{game1Title}}</h6>-->
						</a>
					</div>
				</div>

				<div class="gameBlock column large-2 small-2">
					<div class="inner">
						<a href="/gameView?id={{game3Id}}">
							<img src="{{game3Thumb}}" alt="Cover of {{game1Title}}">
							<!--<h6>{{game1Title}}</h6>-->
						</a>
					</div>
				</div>

				<div class="gameBlock column large-2 small-2">
					<div class="inner">
						<a href="/gameView?id={{game4Id}}">
							<img src="{{game4Thumb}}" alt="Cover of {{game1Title}}">
							<!--<h6>{{game1Title}}</h6>-->
						</a>
					</div>
				</div>

				<div class="gameBlock column large-2 small-2">
					<div class="inner">
						<a href="/gameView?id={{game5Id}}">
							<img src="{{game5Thumb}}" alt="Cover of {{game1Title}}">
							<!--<h6>{{game1Title}}</h6>-->
						</a>
					</div>
				</div>

				<div class="gameBlock column large-2 small-2">
					<div class="inner">
						<a href="/gameView?id={{game6Id}}">
							<img src="{{game6Thumb}}" alt="Cover of {{game1Title}}">
							<!--<h6>{{game1Title}}</h6>-->
						</a>
					</div>
				</div>



			</div>

			<div class="column large-8">
			<!--LEFT COLLUMN-->
				LEFT COLUMN
			</div>
		
			<div class="column large-4">
			<!--RIGHT COLUMN-->
				RIGHT COLUMN
			</div>
		</div>
	{{> jsbottom}}
	</body>
</html>