
<!DOCTYPE html>

<html>
	{{> head}}
	<body>
		<ul>
			{{#each list}}
				<li>
					{{#if game}}
					<a href="/gameView?id={{id}}">
						<div>
							<img src="{{thumb}}">
						</div>
						<div>
							<h5>{{name}}</h5>
							<h6>{{genre1}}{{genre2}}</h6>
						</div>
					</a>
					{{/if}}
					{{#if company}}
					<a href="/companyView?id={{id}}">
						<div>
							<img src="{{thumb}}">
						</div>
						<div>
							<h5>{{name}}</h5>
							<h6>{{genre1}}{{genre2}}</h6>
						</div>
					</a>
					{{/if}}
					{{#if system}}
					<a href="/systemView?id={{id}}">
						<div>
							<img src="{{thumb}}">
						</div>
						<div>
							<h5>{{name}}</h5>
							<h6>{{genre1}}{{genre2}}</h6>
						</div>
					</a>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	</body>
	}
</html>